<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="{@Lang}">
	<head>
		<title>{{ site.title }}</title>
		<meta name="description" content="{{ site.description }}" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />	
		{% comment %} 
		<script id="modernizr-js" type="text/javascript" src="@Href(jsFolder)/libs/modernizr-2.6.1-respond-1.1.0.min.js"></script>
		{% endcomment %}
		<script id="jquery-js" src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		{%- if layout.nivo -%}
		<link id="slider-theme-default" rel="stylesheet" href="/assets/NivoSlider/themes/default/default.css" type="text/css" media="screen" />
		<link id="slider-css" rel="stylesheet" href="/assets/NivoSlider/nivo-slider.css" type="text/css" media="screen" />
		<script id="jquery-slider" src="/assets/NivoSlider/jquery.nivo.slider.js" type="text/javascript"></script>
		<script id="slider-settings" type="text/javascript">
			(function ($, window)
			{	
				$(window).load(function() {
				$('#slider').nivoSlider({
					effect: 'fade',
					slices: 15, /* For slice animations*/
					boxCols: 8, /* For box animations */
					boxRows: 4, /* For box animations */
					animSpeed: 700, /* Slide transition speed*/
					pauseTime: 4700, /* How long each slide will show*/
					startSlide: 0, /* Set starting Slide (0 index)*/
					directionNav: true, /* Next and  Prev navigation*/
					controlNav: false, /* 1,2,3... navigation*/
					controlNavThumbs: false, /* Use thumbnails for Control Nav*/
					pauseOnHover: true, /* Stop animation while hovering*/
					manualAdvance: false, /* Force manual transitions*/
					prevText: 'Prev', /* Prev directionNav text*/
					nextText: 'Next', /* Next directionNav text*/
					beforeChange: function(){}, /* Triggers before a slide transition*/
					afterChange: function(){}, /* Triggers after a slide transition*/
					slideshowEnd: function(){}, /* Triggers after all slides have been shown*/
					lastSlide: function(){
									
								}, /* Triggers when last slide is shown*/
					afterLoad: function(){} /* Triggers when slider has loaded*/
					});
				});
			})(jQuery, window);
		</script>
		<style type="text/css">
			#slider img {
				margin:0;
			}
			#wrapslider {
				 /* Change this to your images width */
				height:350px !important /* Change this to your images height */
				; position:relative;
			}
			#slider  {
				 /* Change this to your images width */
				height:350px !important /* Change this to your images height */
				
			}	
.theme-dark #slider {overflow: hidden;}.theme-light #slider {overflow: hidden;}					
			.nivo-controlNav {  }
			.slider-wrapper {  }
		</style>
		{%- endif -%}
		<link rel="stylesheet" type="text/css" href="/css/rss.css" />
	</head>
	<body>
		<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/">{{ site.title }}</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item {% if layout.amenu == 'front' %}active{%- endif -%}">
							<a class="nav-link" href="/">Front page</a>
						</li>
						<li class="nav-item {% if leftmenu== 'about' %}active{%- endif -%}">
							<a class="nav-link" href="/about">About</a>
						</li>
						<li class="nav-item {% if page.leftmenu == 'docu' %}active{%- endif -%}">
							<a class="nav-link" href="/documentation">Documentation</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>	
		<div class="container">
			{{ content }}
			<hr />
			<footer>
				<p class="float-right"><a href="#">Back to top</a>
				</p>
				<p class="muted">Proudly hosted at <a href="http://www.github.com/">Github</a>
				</p>
			</footer>
		</div>	
	</body>
</html>
